@charset "UTF-8";
.home {
  background-color: aqua;
}

h1 {
  font-size: 24px;
  color: #d20c0c;
  text-align: center;
}

ul.lesson-list {
  list-style: none; /* прибираємо стандартні крапки */
  padding: 0;
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column; /* вертикально */
  gap: 10px; /* відстань між елементами */
}

ul.lesson-list li a {
  display: block;
  text-decoration: none; /* прибираємо підкреслення */
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #f0f0f0; /* світлий фон */
  color: #333;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.lesson-list li a:hover {
  background-color: #8df822; /* підсвічування при наведенні */
  color: #000;
  -webkit-transform: translateX(5px);
     -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px); /* легкий рух вправо */
}

.badge-info {
  color: #b5b5be;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  text-align: right;
}

.badge {
  min-width: 96px;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  border-radius: 20px;
  background-color: #92929d;
}

.badge-completed {
  background-color: #a461d8;
}

.badge-ended {
  background-color: #fc5a5a;
}

.badge-active {
  background-color: #82c43c;
}

/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  width: 650px;
  width: 420px;
  background-color: rgb(141, 213, 26);
}

/*|============================
  | Множення & Ділення
  |============================
*/
.box {
  width: 350px;
  width: 240px;
  width: 1640px;
  width: 250px;
  width: 100px;
  width: 700px;
}

/*|============================
  | Інтерполяція-обрахування даних змінних в результаті операціі
  |============================
*/
.box {
  width: 200px;
}

.box {
  width: 400px;
}

.btn-active {
  color: red;
}

.box {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}

/*====діректива @each====*/
.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.box-10px {
  width: 10px;
  height: 10px;
}

.box-20px {
  width: 20px;
  height: 20px;
}

.box-30px {
  width: 30px;
  height: 30px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  gap: 30px;
  background-color: #5252f3;
}

.task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  width: 589px;
  padding: 24px;
  border: 4px solid #0d0d8b;
  background-color: #1c1c24;
  border-radius: 12px;
}

.task-caption {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fafafb;
}

.task-deadline {
  margin-bottom: 18px;
  color: #fafafb;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
}

.task-deadline-date {
  color: #b5b5be;
}

.performer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 8px;
}

.performer-avatar {
  display: block;
  max-width: 100%;
  height: auto;
}

.performer-bio {
  color: #b5b5be;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.task-badges {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}