.icon, .avatar {
  width: 20px;
  height: 20px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 2px solid lightblue;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.box {
  width: 100px;
  height: 100px;
}

.box {
  background-color: #f15c27;
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: aqua;
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
     -moz-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  z-index: 100;
  display: block;
}

.btn-xl, .btn-lg, .btn-md, .btn-sm {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  color: #fafafb;
  background-color: #f4aa76;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}
.btn-xl:hover, .btn-lg:hover, .btn-md:hover, .btn-sm:hover, .btn-xl:focus, .btn-lg:focus, .btn-md:focus, .btn-sm:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
}

.btn-sm {
  padding: 4px 8px;
  border-radius: 8px;
}

.btn-md {
  padding: 8px 12px;
  border-radius: 12px;
}

.btn-lg {
  padding: 12px 16px;
  border-radius: 16px;
}

.btn-xl {
  padding: 16px 20px;
  border-radius: 20px;
}

.btn-examples {
  padding: 15px;
  background-color: #a1df10;
  border-radius: 12px;
  color: white;
}

.btn-red {
  padding: 15px;
  background-color: red;
  border-radius: 20px;
  color: white;
}

.btn-examples:hover,
.btn-red:hover,
.btn-examples:hover,
.btn-red:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
}.icon, .avatar {
  width: 20px;
  height: 20px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 2px solid lightblue;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.box {
  width: 100px;
  height: 100px;
}

.box {
  background-color: #f15c27;
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: aqua;
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
     -moz-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  z-index: 100;
  display: block;
}

.btn-xl, .btn-lg, .btn-md, .btn-sm {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  color: #fafafb;
  background-color: #f4aa76;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}
.btn-xl:hover, .btn-lg:hover, .btn-md:hover, .btn-sm:hover, .btn-xl:focus, .btn-lg:focus, .btn-md:focus, .btn-sm:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
}

.btn-sm {
  padding: 4px 8px;
  border-radius: 8px;
}

.btn-md {
  padding: 8px 12px;
  border-radius: 12px;
}

.btn-lg {
  padding: 12px 16px;
  border-radius: 16px;
}

.btn-xl {
  padding: 16px 20px;
  border-radius: 20px;
}

.btn-examples {
  padding: 15px;
  background-color: #a1df10;
  border-radius: 12px;
  color: white;
}

.btn-red {
  padding: 15px;
  background-color: red;
  border-radius: 20px;
  color: white;
}

.btn-examples:hover,
.btn-red:hover,
.btn-examples:hover,
.btn-red:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
}

.btn-success {
  border: 2px solid lightgreen;
  color: lightgreen;
}

.btn-error {
  border: 2px solid tomato;
  color: tomato;
}

.btn-info {
  border: 2px solid lightblue;
  color: lightblue;
}

.button {
  background-color: white;
  border: 1px solid darkblue;
  margin-top: 10px;
  color: #000;
  border-radius: 10px;
}
.button:not([disabled]):hover {
  color: white;
  background-color: darkblue;
}