$color-primary:teal;//глобальна область
body{
  $color-primary:lightblue;//local scope
  $color-secondary:white !global;
  background-color:$color-primary;
}
p{
  color:$color-secondary;//undefined
  background-color:$color-primary;
}